astroid==2.4.2
certifi==2020.6.20
click==6.7
colorama==0.4.3
Flask==1.1.2
future==0.16.0
gunicorn==20.0.4
isort==5.4.2
itsdangerous==0.24
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.4
pipenv==2020.8.13
pygame==1.9.3
PyInstaller==3.2.1
pylint==2.6.0
pypiwin32==220
python-dotenv==0.14.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
virtualenv==15.1.0
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1
