{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <div
        class="row py-5 px-5 justify-content-sm-center align-items-center"
        style="height: 600px;"
    >
        <div class="col-md-4">
            <h1>WFHPlanner</h1>
            <p class="text-secondary">
                WFH Planner is a tool for those working at home that struggle to
                find a work-life balance.
            </p>
            <a class="btn btn-outline-primary" href="auth/signup" role="button">
                Sign Up Now
            </a>
        </div>
        <div class="col-md-4 text-center">
            <img
                src="../static/hero.png"
                width="60%"
                height="auto"
                style="min-width: 200px;"
            />
        </div>
    </div>
    <div class="row bg-light py-5 px-5 text-center justify-content-sm-center">
        <div class="col-md-8">
            <h5 class="text-primary">The Inspiration</h5>
            <h1>Remote work amid the pandemic</h1>
            <p class="text-secondary">
                We asked ourselves the question: How could we make the lives of
                individuals working from home easier? Our response was to
                address the fundamental problem of remote work, work-life
                balance.
            </p>
            <img
                src="../static/planning.png"
                width="60%"
                height="auto"
                class="mt-5"
                style="max-width: 400px;"
            />
        </div>
    </div>
    <div class="row py-5 px-5 text-center justify-content-sm-center">
        <div class="col-md-8">
            <h5 class="text-primary">What it does</h5>
            <h1>A new way of working</h1>
            <p class="text-secondary">
                Work From Home (WFH) Planner is a web application tool that
                helps those working from home to better manage their day, by
                auto-generating a schedule for them to follow throughout the
                day.
            </p>
            <img
                src="../static/work.svg"
                width="60%"
                height="auto"
                class="mt-5"
                style="max-width: 400px;"
            />
        </div>
    </div>
    <div class="row bg-dark py-5 px-5 text-center justify-content-sm-center">
        <div class="col-sm-8">
            <h1 class="text-white">Take Control Of Your Life Now</h1>
            <a
                class="btn btn-outline-light mt-3"
                href="auth/signup"
                role="button"
            >
                Sign Up Now
            </a>
        </div>
    </div>
</div>
{% endblock %}
